// ============================================================
// Placeholders
// ============================================================

// Example:
// input { @include placeholder($color); }

@mixin placeholder($color) {
	// Webkit
	&::-webkit-input-placeholder {
		color: $color;
	}

	// Gecko - Firefox 4 thru 18
	&:-moz-placeholder {
		color: $color;
	}
	// Gecko - Firefox 19+
	&::-moz-placeholder {
		color: $color;
	}
	
	// IE10+
	&:-ms-input-placeholder {
		color: $color;
	}
}