// ============================================================
// $Custom Base Styles
// ============================================================

// Box sizing FTW!
* {
	&:before,
	&:after {
		@include box-sizing(border-box);
	}
}

// Fluid Images
// http://alistapart.com/article/fluid-images
img,
embed,
object,
video {
	max-width: 100%;
	height: auto;
}

// Global Margin & Padding
html,
body {
	margin: 0;
	padding: 0;
}

// Global Links
a {
	// Compass Helper Function
	// link-colors($normal, $hover, $active, $visited, $focus)
	@include link-colors($global-anchor-color, $global-anchor-color-hover, $global-anchor-color-hover, $global-anchor-color, $global-anchor-color);
	text-decoration: none;

	&:hover {
		text-decoration: underline;
	}
}