// ============================================================
// $Custom Base Styles
// ============================================================

*,
*:before,
*:after {
	@include box-sizing(border-box);
}

img,
object {
	max-width: 100%;
	height: auto;
}

html,
body {
	margin: 0;
	padding: 0;
}

a {
	// Compass Helper Function
	// link-colors($normal, $hover, $active, $visited, $focus)
	@include link-colors($global-anchor-color, $global-anchor-color-hover, $global-anchor-color-hover, $global-anchor-color, $global-anchor-color);
}